<div class="player" id="sound{{freesound.id}}" ng-switch on="audiodata.newsound">      
		<audio ng-if="freesound" ng-switch-when="1" id="audio{{freesound.id}}" controls autoplay>
			<source ng-src="{{freesound.previews['preview-hq-mp3']}}" type="audio/mpeg"></source>
		</audio>

		<audio ng-switch-default ng-if="freesound" id="audio{{freesound.id}}" controls ng-attr="{{isnew}}">
			<source ng-src="{{freesound.previews['preview-hq-mp3']}}" type="audio/mpeg"></source>
		</audio>
<img class="smallimg" ng-src="{{freesound.images['spectral_l']}}" />
</div>
