<section id="playlist">

  <div class="buttons" ng-hide="visible">
                    <input type="text" class="busca control" ng-model="query" placeholder="search"/>
                    <!--<button class="zoom-out fa fa-minus"></button>-->
                    <a href="http://www.codigo.xyz/audioquery/" target="_blank" style="float:letf;inline"><button class="zoom-in fa fa-plus"></button></a>
                    <!--<button class="resetpar fa fa-arrows-alt"></button>-->
                    <!--<button class="fa fa-rotate-right" id="rotateIcon" data-ng-init="rd=1;" data-ng-click="RotateImage('img1'+ $index,rd);rd=rd+1;rd==4?rd=0:''"></button>-->
                    <!--<button class="prev-pag resetpar fa fa-arrow-up" ng-click="moveparprev()"></button>-->
                    <button ng-hide="response.previous == null" class="next-pag resetpar resetimpar fa fa-arrow-left" ng-click="makequery(response.previous)"></button>
                    <button ng-hide="response.next == null" class="next-pag resetpar resetimpar fa fa-arrow-right" ng-click="makequery(response.next)"></button>
                    <button ng-hide="recording" class="next-pag fa fa-circle" ng-click="startRecording(); recording = true" style="color:#f00"></button>
                    <button ng-hide="!recording" class="next-pag fa fa-stop" ng-click="stopRecording(); recording = false; recordings = true"></button>

                    <!--<button class="prev-pag resetpar fa fa-arrow-down" ng-click="moveparnext()"></button>-->
                    
                </div><br>



  <div id="audios">


  </div>

  <div id="recList">
    <h5 ng-show="recordings">Recordings</h5>
    <ul id="recordingslist"></ul>
  </div>

  
</section>


<section id="list" >
   
              <a ng-hide=""> </a>

 <div id="results">
                <div>
                      
              <div ng-repeat="item in results | array | orderBy:'duration'" class="result" id="{{'#' + item.id}}" ng-click="play('{{item.previews['preview-hq-mp3']}}', {{item.id}})">

                    <img class="smallimg" ng-src="{{item.images['spectral_m']}}"/><br/>
                    <span class="info">{{item.duration | sectime | date:'mm:ss'}} | {{item.name}} </span> <br/>

              </div>  

</div>              

              <div class="clear"></div>

              <div id="preloaded">




            <div ng-repeat="x in sounds track by $index" >
               <ass-player audiodata="x"></ass-player>
                </div>

     <iframe ng-if="sounds" ng-repeat="x in sounds track by $index" frameborder="0" scrolling="no" src="{{'https://www.freesound.org/embed/sound/iframe/' + x + '/simple/medium_no_info/' }}" width="200" height="80"></iframe>

    </div>



              
                

  </div>



<p class="credits">experimental client for the <a href="http://freesound.org/docs/api/" target="_blank">freesound API</a> by <a href="http://ariane.stolfi.org" target="_blank">Ariane Stolfi,</a> 2017</p>

</section>
