<section id="list" >
   
               


                <div class="buttons" ng-hide="visible">
                    <input type="text" class="busca control" ng-model="query" placeholder="search"/>
                    <!--<button class="zoom-out fa fa-minus"></button>-->
                    <a href="http://www.codigo.xyz/audioquery/" target="_blank" ><button class="zoom-in fa fa-plus"></button></a>
                    <!--<button class="resetpar fa fa-arrows-alt"></button>-->
                    <!--<button class="fa fa-rotate-right" id="rotateIcon" data-ng-init="rd=1;" data-ng-click="RotateImage('img1'+ $index,rd);rd=rd+1;rd==4?rd=0:''"></button>-->
                    <!--<button class="prev-pag resetpar fa fa-arrow-up" ng-click="moveparprev()"></button>-->
                    <button ng-hide="response.previous == null" class="next-pag resetpar resetimpar fa fa-arrow-left" ng-click="makequery(response.previous)"></button>
                    <button ng-hide="response.next == null" class="next-pag resetpar resetimpar fa fa-arrow-right" ng-click="makequery(response.next)"></button>

                    <!--<button class="prev-pag resetpar fa fa-arrow-down" ng-click="moveparnext()"></button>-->
                    
                </div><br>
                

              <a ng-hide=""> </a>
 <div id="results">
                <div>
                      
              <div ng-repeat="item in results | array" class="result" id="{{'#' + item.id}}" ng-click="play()">

                        <img class="smallimg" ng-src="{{item.images['spectral_m']}}"/><br/>
                      	 <audio controls >
                             <source ng-src="{{item.previews['preview-lq-mp3']}}" type="audio/mp3">
                             <source ng-src="{{item.previews['preview-lq-ogg']}}" type="audio/ogg">

						    </audio> 
                     <span class="info">{{item.name}} </span><br/>

</div>  
                

                </div>
  </div>


  


    <div id="testes">
        <!--<span ng-repeat="pagina in objetos | array | filter:{'collections':dir}">{{pagina.idno}}</br></span>-->
        <h1></h1>
        
        <div id="counter" ng-model="posicao" >
<!--
    <li ng-repeat="pagina in (filtrados = (objetos | array | filter: busca))" ng-class="{selected: pagina.idno === indice}">{{filtrados.indexOf(pagina)}}{{pagina.idno}}</li>
-->
    </div>
    

    </div>






</section>

<section id="playlist" >
  <p class"credits">experimental client for the <a href="http://freesound.org/docs/api/" target="_blank">freesound API</a> | <a href="http://ariane.stolfi.org" target="_blank">AS 2017</a></p>
</section>